Academia_IFM02B2_Project_Website/Connected Services/ACD_Reference/ACD_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52558/ACD_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="user" nillable="true" type="q1:MyUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getTutorResult" nillable="true" type="q3:Tutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTutors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTutorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getAllTutorsResult" nillable="true" type="q4:ArrayOfTutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="tutor" nillable="true" type="q5:MyTutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTutorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getAllUsersResult" nillable="true" type="q6:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="user" nillable="true" type="q7:MyUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="tutor" nillable="true" type="q8:MyTutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTutorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllContactUs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllContactUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getAllContactUsResult" nillable="true" type="q9:ArrayOfContactUSs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tutId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getSubjectResult" nillable="true" type="q10:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSubjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getAllSubjectsResult" nillable="true" type="q11:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="subject" nillable="true" type="q12:MySubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getPackageResult" nillable="true" type="q13:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="getAllPackagesResult" nillable="true" type="q14:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" minOccurs="0" name="contact" nillable="true" type="q15:MyContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContactUsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>