Academia_IFM02B2_Project_Website/Connected Services/ACD_Reference/ACD_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ACD_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52558/ACD_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52558/ACD_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52558/ACD_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Academia_IFM02B2_Project_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IACD_Service_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:getTutor" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllTutors_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTutors" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllTutors_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTutorsResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_AddTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTutor" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_AddTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_UpdateTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTutor" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_UpdateTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllContactUs_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllContactUs" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllContactUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllContactUsResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubject" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubjects" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_AddSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubject" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_AddSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackage" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllPackages_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPackages" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_getAllPackages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_AddContactUs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContactUs" />
  </wsdl:message>
  <wsdl:message name="IACD_Service_AddContactUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactUsResponse" />
  </wsdl:message>
  <wsdl:portType name="IACD_Service">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/Login" message="tns:IACD_Service_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/LoginResponse" message="tns:IACD_Service_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/Register" message="tns:IACD_Service_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/RegisterResponse" message="tns:IACD_Service_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getUser" message="tns:IACD_Service_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getUserResponse" message="tns:IACD_Service_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getTutor" message="tns:IACD_Service_getTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getTutorResponse" message="tns:IACD_Service_getTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTutors">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getAllTutors" message="tns:IACD_Service_getAllTutors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getAllTutorsResponse" message="tns:IACD_Service_getAllTutors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/AddTutor" message="tns:IACD_Service_AddTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/AddTutorResponse" message="tns:IACD_Service_AddTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getAllUsers" message="tns:IACD_Service_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getAllUsersResponse" message="tns:IACD_Service_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/UpdateUser" message="tns:IACD_Service_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/UpdateUserResponse" message="tns:IACD_Service_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/UpdateTutor" message="tns:IACD_Service_UpdateTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/UpdateTutorResponse" message="tns:IACD_Service_UpdateTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllContactUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getAllContactUs" message="tns:IACD_Service_getAllContactUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getAllContactUsResponse" message="tns:IACD_Service_getAllContactUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getSubject" message="tns:IACD_Service_getSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getSubjectResponse" message="tns:IACD_Service_getSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getAllSubjects" message="tns:IACD_Service_getAllSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getAllSubjectsResponse" message="tns:IACD_Service_getAllSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/AddSubject" message="tns:IACD_Service_AddSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/AddSubjectResponse" message="tns:IACD_Service_AddSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getPackage" message="tns:IACD_Service_getPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getPackageResponse" message="tns:IACD_Service_getPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPackages">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/getAllPackages" message="tns:IACD_Service_getAllPackages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/getAllPackagesResponse" message="tns:IACD_Service_getAllPackages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContactUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IACD_Service/AddContactUs" message="tns:IACD_Service_AddContactUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACD_Service/AddContactUsResponse" message="tns:IACD_Service_AddContactUs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IACD_Service" type="tns:IACD_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTutor">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTutors">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getAllTutors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTutor">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/AddTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTutor">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/UpdateTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllContactUs">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getAllContactUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubject">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSubjects">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getAllSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/AddSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackage">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPackages">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/getAllPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContactUs">
      <soap:operation soapAction="http://tempuri.org/IACD_Service/AddContactUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACD_Service">
    <wsdl:port name="BasicHttpBinding_IACD_Service" binding="tns:BasicHttpBinding_IACD_Service">
      <soap:address location="http://localhost:52558/ACD_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>